<body>
<table class="data">
<tbody>
<tr>
<th>HTTP Method</th>
<th>URI</th>
<th>Action</th>
</tr>
<tr>
<td>GET</td>
<td>http://[hostname]/api/v1.0/context</td>
<td>Retrieve list of context</td>
</tr>
<tr>
<td>GET</td>
<td>http://[hostname]/api/v1.0/context/[context_id]</td>
<td>Retrieve a context</td>
</tr>
<tr>
<td>POST</td>
<td>http://[hostname]/api/v1.0/context</td>
<td>Create a new context</td>
</tr>
<tr>
<td>PUT</td>
<td>http://[hostname]/api/v1.0/context/[context_id]</td>
<td>Update an existing context</td>
</tr>
<tr>
<td>DELETE</td>
<td>http://[hostname]/api/v1.0/context/[context_id]</td>
<td>Delete acontext</td>
</tr>
</tbody>
</table>
</body>

